body {
  /* Use Flexbox */
  display: flex; 
  justify-content: center; 
}
.ball {
  width: 100px;
  height: 100px;
  /* Turns a square into a circle */
  border-radius: 50%; 
  background-color: #ff5722;
  position: absolute;
}
.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
